@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato|Questrial');
/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Questrial', sans-serif;/*font added*/
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

.wrapper {
  width: 75%;
  max-height: 1500px;
  margin: 0 auto;
}

header h1 {
  width: 35%;
  margin: 15px 0;
  display: inline-block;
  vertical-align: top;
}

h1>a {
  color: #5c5a5e;
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

h1 span { color: #54a5be }

.search {
  width: 55%;
  display: inline-block;
  float: right;
}

.search ul li {
  margin: 15px 0 15px 20px;
  padding-left: 35px;
  display: inline-block;
  float: left;
}

.search li a {
  color: #404143;
  text-decoration: none;
}

.search li:nth-child(3) ::before {
  content: " ";
  background: url("../images/in.gif") no-repeat 100%;
}

.search li:last-child ::before {
  margin: 5px;
  content: "\f290";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

form {
  width: 90%;
  border-bottom: 1px solid #e8e6ea;
  margin: 5px 0 5px 20px;
  float: right;
}

form input[type="text"] {
  width: 40%;
  border:none;
  font-size: 15px;
}

 form input[type="text"] ::before {
  content: "\f002";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

nav {  margin:20px 0 10px; }

nav ul li{
  display: inline-block;
  vertical-align: top;
}

nav li a {
  padding: 10px 10px;
  color: #242423;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

nav li a:hover,.active {
  background-color: #eae5eb;
  color: #6da0b1;
}

main{ border-top: 50px solid #eae5eb; }

.burberry img{ width: 100% }

.delivery li{
  width: 24%;
  display: inline-block;
  color:#6a6c6d;
}

.delivery span {
  display: block;
}

.delivery li:first-child ::before {
  margin: 5px;
  content: "\f4df";
  color:#3fabc2;
  font-family: 'Font Awesome 5 Free';
  font-weight: 800;
}

.gift {padding: 10px 0;}

.gift li { display: inline-block; }

.gift li img {width: 100%;}

.gift li:nth-child(2){ margin: 0 27px; }

.brands{
  border-top: 2px solid #272628;
  margin-top:6%; 
  position: relative;
}

.brands span{
  padding: 0 5%;
  display: block;
  position: absolute; 
  top: -20px;
  left:35%;
  background-color: #fff;
  font-size: 30px;
  text-transform: uppercase;  
}
.brands ul{ margin: 20px 0; }

.brands li{
  width:13%;
  display: inline-block;
}

.brands li:not(first-child), .brands li:not(last-child) {
  padding: 3px;
}

.brands li img { width:100%; }

.blog{
  background-color: #f5f0f6;
  padding-top: 5%;
   position: relative;
    text-align: center;
}

.blog ul{ padding-bottom: 20px; }

.blog ul li{
  width:31%;
  margin: 0 10px;
  display: inline-block;
}

.blog ul li:not(first-chid){ margin-left: 5px; }

.blog ul li:not(last-chid) { margin-right: 10px; }

.blog ul li img{ width: 100% }

.blog p {
  width: 90%;
  padding:3%;
  border-top: 2px solid #29252b;
  margin: 0 auto;
}

.blog span {
  display: block;
  padding: 0 3%;
  position: absolute;
  top:30px;
  left:35%;
  background-color: #f5f0f6;
  font-size: 25px;
  text-transform: uppercase;
}

.latest{
  margin: 6% 0;
  border-top: 2px solid #272628;
  position: relative;
}

.allbeautyhq {
  padding: 0 5%;
  display: block;
  position: absolute; 
  top: -20px;
  left:25%;
  background-color: #fff;
  font-size: 25px;
  text-transform: uppercase;  
}

.latest p {
  margin: 3%;
  color: #2d2c2f;
  text-align: center;
}

.latest p span{ display: block; }

.latest li {
  width:16%;
  display: inline-block;
}

.latest li img{ width: 100%; }